body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDE8E9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 70px 70px;
  border: 5px solid darkpink;
  border-radius: 10px;
  margin: auto;
  margin-top: 5px;
  width: 80%;
  padding: 10px;
}

.headers {
  font-weight: bold;
}

.songs > div:nth-child(even) {
  background: #BC9EC1;
}

.songs > div:nth-child(odd) {
  background: #BC9EC1;
}

.table > div:nth-child(1) {
  background-color: #596475;
  color: white;
}

form > .table-row {
  background-color: #596475;
  color: white;
}

input [type=text] {
  box-sizing: border-box;
}

.setlists > div {
  background: #BC9EC1;
}

.header {
  background:#1F2232;
  color: white;
  justify-content: space-between;
  margin-top: 15%;
}

.header > button {
  height: 50%;
  align-self: center;
  margin: 5px;
}

button {
  background-color: #E3BAC6;
  box-shadow: none;
  border-radius: 2px;
  border: 0px;
}

.navbar {
  height: 30px;
  background-color: #596475;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout{
  margin-right: 10px;
  cursor: pointer;
}
